# Build artifacts
/frontend/dist/

/build/bin
/frontend/node_modules/

# OS files
.DS_Store
.DS_Store?
._*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
flik-debug.log
flik-installed-debug.log
